<div class="product-item thumbnail card"
     [@stockStatus]="isTheLast() ? 'last' : 'available'"
     [ngClass]="{ last: isTheLast() }">
    <img [src]="data.photo" alt="t-shirt" class="card-img">
    <div class="card-body">
        <h3>{{ data.title | uppercase }} - {{ data.price | currency:'EUR' }}</h3>
        <p>{{ data.description }}</p>
    </div>

    <div class="card-footer">
        <button mat-raised-button (click)="addToBasketClick()">{{ "PRODUCT.ADD_TO_BASKET" | translate }}</button>
    </div>
</div>
