<header class="jumbotron">
  <h1>{{ title | translate }}</h1>

  <p>{{ "HOME.BASKET_TOTAL" | translate: { total: getTotal() | async | currency:'EUR' } }}</p>
  <p><a class="btn btn-primary btn-large" [routerLink]="['/basket']">{{ "MENU.ACCESS_BASKET" | translate }}</a></p>
</header>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>{{ "HOME.LAST_PRODUCT" | translate }}</h2>
  </div>
</div>

<div class="row text-center">
  <ng-container *ngFor="let product of products$ | async">
    <app-product class="col-md-3 col-sm-6" *ngIf="isAvailable(product)" [data]="product" (addToBasket)="addToBasket($event)"></app-product>
  </ng-container>
</div>
